name: MLOps CI/CD Pipeline

on:
  push:
    branches: [ main ]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          lfs: true
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.12'
      - name: Install dependencies
        run: pip install -r requirements.txt
      - name: Run unit tests
        env:
          PYTHONPATH: ${{ github.workspace }}
        run: pytest tests/test_api.py

  build-and-push:
    needs: test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      - name: Login to DockerHub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      - name: Build and Push
        env:
          DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }}
        run: |
          docker build -t $DOCKER_USERNAME/pet-classifier:latest .
          docker push $DOCKER_USERNAME/pet-classifier:latest

  deploy-and-smoke-test:
    needs: build-and-push
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Build and Run Container
        run: |
          docker build -t pet-classifier:latest .
          # Run the container in the background
          docker run -d -p 8000:8000 --name pet-app pet-classifier:latest
          # Wait for app to be ready
          sleep 10
      - name: Run Smoke Tests
        run: |
          export SERVICE_URL=http://localhost:8000
          python tests/smoke_test.py